* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #232526, #414345);
    color: white;
}

/* Navbar */
.navbar {
    background: #111;
    padding: 15px 30px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}

.navbar a {
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.navbar a:hover,
.navbar a.active {
    opacity: 1;
    text-decoration: underline;
}

/* Hero section */
.hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* Background image */
    background: url('Images/Everyone.jpg')   ;
    background-size: cover;
    color: #232323d0;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    opacity: 0.85;
    margin-bottom: 30px;
}

/* Buttons */
.buttons {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 14px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.primary {
    background: #ffcb05;
    color: #2a75bb;
    border: 2px solid;
    border-color:#111010 ;

}

.primary:hover {
    transform: scale(1.05);
    color: #2a75bb;
}

.secondary {
    border: 2px solid;
    color: #111010;
    background-color: #9b9b9b;
}

.secondary:hover {
    background: rgb(114, 111, 111);
    /* color: rgb(188, 186, 193); */
}

/* Feature cards */
.features {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 60px 20px;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 16px;
    width: 220px;
    text-align: center;
    backdrop-filter: blur(10px);
}

.card h3 {
    margin-bottom: 10px;
}
